//COLORS

$black: #000000;
$light-black: #696969;
$yellow: #ffd700;
$pink: #ff00ff;
$white: #ffffff;
$whitesmoke: #f5f5f5;


// FONTS

$logo-font: "Nosifer";
$title-font: "Righteous";
$text-font: "Spartan";


// FONTS SIZES

$text-size: 13px;
$card-title-size: 26px;
$section-title-size: 22px;
$nav-link-size: 16px;
$logo-mobile-size: 36px;
$logo-desktop-size: 48px; 
$menu-image-size: 20px;