<header class="header">
    <div class="header__branding">
        <h1 class="header__title">
            <a href="#" class="header__link"><img src="./src/images/logo.png" alt="No doubt"
                    class="header__logo"></a>
        </h1>
    </div>
    <div class="header__navigation">
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="#" class="menu__link"><img src="" alt="" class="menu__img"></a></li>
                <li class="menu__item"><a href="#" class="menu__link"><img src="" alt="" class="menu__img"></a></li>
                <li class="menu__item"><a href="#" class="menu__link"><img src="" alt="" class="menu__img"></a></li>
            </ul>
        </nav>
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="#" class="menu__link"><img src="" alt="" class="menu__img"></a></li>
                <li class="menu__item"><a href="#" class="menu__link"><img src="" alt="" class="menu__img"></a></li>
                <li class="menu__item"><a href="#" class="menu__link"><img src="" alt="" class="menu__img"></a></li>
            </ul>
        </nav>
    </div>
</header>