<section class="news">
    <div class="news__container">
        <h2 class="news__title">news</h2>
        <ul class="news__list">
            <li class="news__item card">
                <h3 class="card__title">
                    Celebrate The 25th Anniversary Of Our Debut Album
                </h3>
                <div class="card__image-container">
                    <img
                        src="../images/news/25thAnniversary.jpg"
                        alt="Global Citizen Earth Day"
                        class="card__image"
                    />
                </div>
                <div class="card__text-container">
                    <p class="card__text">
                        To celebrate the 25th Anniversary of our self-titled
                        debut album, we’re releasing it on vinyl for the first
                        time ever! 100 copies of the limited edition color vinyl
                        have been personally signed by Gwen Stefani, Tony Ivan,
                        Tom Dumont, Adrian Young and Eric Stefani.
                    </p>
                </div>
            </li>
            <li class="news__item card">
                <h3 class="card__title">Thank You No Doubters!</h3>
                <div class="card__image-container">
                    <img
                        src="../images/news/band_thankyou.jpeg"
                        alt="Global Citizen Earth Day"
                        class="card__image"
                    />
                </div>
                <div class="card__text-container">
                    <p class="card__text">
                        Thank you to everyone who came out to see us over the
                        last few months. We had such a fun summer and an amazing
                        2015!
                    </p>
                </div>
            </li>
            <li class="news__item card">
                <h3 class="card__title">Riot Fest & Carnival</h3>
                <div class="card__image-container">
                    <img
                        src="../images/news/riot_fest.jpg"
                        alt="Global Citizen Earth Day"
                        class="card__image"
                    />
                </div>
                <div class="card__text-container">
                    <p class="card__text">
                        We'll be making our first-ever appearance at Riot Fest &
                        Carnival at Douglas Park in Chicago the weekend of
                        September 11-13! Get your 3-Day GA & VIP passes
                        beginning today at
                        <a href="www.riotfest.org">www.riotfest.org</a> .
                    </p>
                </div>
            </li>
            <li class="news__item card">
                <h3 class="card__title">Global Citizen Earth Day</h3>
                <div class="card__image-container">
                    <img
                        src="../images/news/earth-day.jpg"
                        alt="Global Citizen Earth Day"
                        class="card__image"
                    />
                </div>
                <div class="card__text-container">
                    <p class="card__text">
                        Saturday marked the first stop on the 2015 roadmap to
                        end extreme poverty by 2030 and tackle climate change!
                        Thank you to the 250,000 Global Citizens who joined us
                        in Washington DC for Global...
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
