.artistBlock {
    max-width: 1200px;
    margin: 162px auto 0;
    padding: 30px 20px;
    background-color:$black;
}

.title {
    font-family: "Righteous";
    color: $yellow;
    font-size: $section-title-size;
    margin: 20px 0;
    text-align: center;
}

.about {
    display: flex;
    height: 550px;
}


.photo-block {
    width: 50%;
    overflow: hidden;
}

.photo-block__wrapper {
    width: 200%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.photo-block__immage {
    width: 50%;
    height: 100%;
    transition: margin-left 1s ease;
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: $white;
}


.description__item {
    height: 100%;
    overflow: hidden;
    padding: 10px;
}

.description__top {
    height: 100%;
    padding: 20px;
    transition: margin-top 1s ease;
}

.description__bottom {
    height: 100%;
    padding: 20px;
}

.description__title {
    text-align: center;
    font-weight: bold;
    font-size: $section-title-size;
    margin: 10px auto;
}