.wrapper {
    max-width: 1200px;
    margin: $margin-top auto 0;
    background-color:$black;
    height: 100vh-$margin-top;
}
.artistBlock {
    padding: 30px 20px;
}

.title {
    font-family: "Righteous";
    color: $yellow;
    font-size: $section-title-size;
    margin: 20px 0;
    text-align: center;
}

.about {
    display: flex;
    height: 550px;
    box-sizing: border-box;
    padding-bottom: 20px;
}


.photo-block {
    width: 50%;
    overflow: hidden;
    border-radius: 20px;
}

.photo-block__wrapper {
    width: 200%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.photo-block__immage {
    width: 50%;
    height: 100%;
    transition: margin-left 1s ease;
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: $white;
    box-sizing: border-box;
}


.description__item {
    height: 100%;
    overflow: hidden;
    margin: 10px;
    border: 1px solid $white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px $yellow;
}

.description__title {
    color: $pink;
}

.description__top {
    height: 100%;
    padding: 20px;
    transition: margin-top 1s ease;
    box-sizing: border-box;
}

.description__bottom {
    height: 100%;
    padding: 20px;
    margin-top: 24px;
    box-sizing: border-box;
}

.description__title {
    text-align: center;
    font-weight: bold;
    font-size: $section-title-size;
    margin: 10px auto;
}

.description__article {
    font-family: $text-font;
    font-size: $text-size;
}

.footer {
    height: 70px;
    padding: 20px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $black;
}

.contacts {
    background-color: #ffd700;
    padding: 10px;
    border-radius: 20px;
    width: 400px;
    height: 50px;
    margin: 0 auto;
}

.contacts__list {
    display: flex;
    justify-content: space-evenly;
}

.contacts__item {
    background-color: #000000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.contacts__item:hover {
    box-shadow: 0px 0px 10px 4px $pink;
}