.header {
    background-color: $black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 8px solid $pink;
    &__title {
        margin: 14px auto 0 auto;
        width: 340px;
        height: 80px;
        font-family: $logo-font, cursive;
        text-align: center;
        font-size: $logo-desktop-size;
        transition: all 0.3s ease-in-out;
    }
    &__link {
        display: inline-block;
        color: $yellow;
    }
    &__navigation {
        display: flex;
        justify-content: space-around;
        height: 40px;
        padding: 10px 0;
    }
    &__branding {
        transition: height 0.3s ease-in-out;
    }
}
.menu {
    &__link {
        display: inline-block;
        color: $pink;
        display: inline-block;
        width: 39px;
        height: 39px;
        line-height: 39px;
        background: #272727;
        border-radius: 50px;
    }
    &__link:hover {
        box-shadow: 0px 0px 5px 2px $pink;
    }
    &__list {
        display: flex;
        font-size: 20px;
        text-align: center;
        width: 300px;
        justify-content: space-around;
    }
}

.navigation {
    font-family: $title-font;
    font-size: $nav-font-size;
    &__link {
        display: inline-block;
        color: $white;
    }
    &__link:hover {
        color: $yellow;
        text-decoration: underline;
    }
    &__list {
        display: flex;
        height: 100%;
        align-items: center;
        width: 560px;
        justify-content: space-around;
    }
}

.burger {
    color: $white;
    font-size: 25px;
    display: none;
    height: 60px;
    &__button {
        margin: 15px 0 0 10px;
        cursor: pointer;
    }
}

.side-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    z-index: 20;
    background-color: $light-black;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
}

.side-menu.shown {
    display: flex;
}

@media (max-width: 900px) {
    .burger {
        display: block;
    }
    .header__navigation {
        display: none;
    }
    .menu {
        margin-top: 80px;
        &__link {
            width: 30px;
            font-size: 20px;
        }
        &__list {
            width: auto;
            flex-wrap: wrap;
        }
    }
    .navigation {
        &__link {
            margin-top: 10px;
        }
        &__list {
            flex-direction: column;
            width: auto;
        }
    }
}
