.karaoke {
  height: 300px;
  overflow: hidden;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.karaoke__songBlock {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.karaoke__textBlock {
  width: 90%;
  font-size: $karaoke-text-size;
  text-align: center;
  margin-top: 100px;
}

.karaoke__textLine {
  height: 100px;
  width: 100%;
  max-width: 100%;
  color: $light-black;
}

.karaoke__textLine--current {
  color: $pink;
}

button[class^="karaoke__button"]{
  width: 100px;
  height: 100px;
  border: none;
  outline: none;
}

.karaoke__button--play {
  background: url("/src/images/play.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.karaoke__button--pause{
  background: url("/src/images/pause.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
